#박소혜

필기.txt
Hello.java
Hello.class
*/bin/
*/src/question/
*/src/com/lesson/
*/src/com/test/java/
*/src/com/test/question/*/*.java
*/src/com/test/question/Q0.java
*/src/com/test/temp/
file/
.metadata/
*/.settings/

#전상수

.metadata/
Exercise/
file/
*/.settings
*/bin
*/.classpath/
*/.project/
JavaTest/src/.metadata
JavaTest/src/**.txt
JavaTest/src/
JavaTest/src/*.java
*/JavaTest/.settings/
*/JavaTest/bin/
*/JavaTest/.classpath
*/java/JavaTest/.project
*/java/JavaTest/src/
JavaTest/src/com/test/exercise/
JavaTest/src/com/test/java/
JavaTest/src/com/test/self/
JavaTest/src/com/test/temp/

