#박소혜

필기.txt
Hello.java
Hello.class
*/bin/
*/src/question/
*/src/com/lesson/
*/src/com/test/java/
*/src/com/test/question/*/*.java
*/src/com/test/question/Q0.java
*/src/com/test/temp/
file/
.metadata/
*/.settings/


#김현수

필기.txt
내 필기.txt
240625.txt
*/src/com/test/hans
*/src/com/test/memo
*/src/com/test/question2
*/src/com/test/request

JavaTest/src/com/test/question/*.java