#박소혜

필기.txt
Hello.java
Hello.class
*/bin/
*/src/question/
*/src/com/lesson/
*/src/com/test/java/
*/src/com/test/question/*/*.java
*/src/com/test/question/Q0.java
*/src/com/test/temp/
file/
.metadata/
*/.settings/